<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<h1 th:text="${msg}"></h1>
<div th:if="${not #lists.isEmpty(persons)}">
    <h3>列表</h3>
    <ul>
        <li th:each="person:${persons}">
            <span th:text="${person.name}"></span> &nbsp;
            <span th:text="${person.age}"></span>
            <button type="button" th:onclick="'getName(\''+ ${person.name} + '\');'">获取名称</button>
        </li>
    </ul>
</div>
</body>
<script th:src="@{js/jquery.min.js}"></script>
<script th:inline="javascript">
    let msg = [[${msg}]];
    console.log(msg);

    function getName(name) {
        alert(name)
    }
</script>
<script>
    $(document).ready(function () {
        console.log("init Jquery");
    })
</script>
</html>
